.main {
  
  background: url("https://images4.alphacoders.com/115/1153100.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 22vh);;
  background-color: red;
  margin: 0;
  padding: 0;
 
 
}