.searchbar{
    
display: flex;
justify-content: center;
align-items: center;
margin-left: 30px;


    
}

.searchbar input {

    padding: 7px 16px;
    
   
}

.searchbar button{

    padding: 8px;
    margin: 1px;
    
    border: none;
    color: #fff;
    background-color: green;
    cursor: pointer;
}

.none{
    display: none;
}